.punch-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.punch-header {
  margin-bottom: var(--spacing-element-margin);
  text-align: center;
}

.punch-header h2 {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  margin-bottom: 8px;
}

.punch-header .date {
  font-size: var(--font-size-normal);
  color: var(--color-text-gray);
}

.punch-body {
  width: var(--size-card-width);
}

.punch-card-item {
  text-align: center;
  padding: var(--spacing-element-padding-large);
}

.punch-status {
  margin-bottom: var(--spacing-element-margin);
}

.punch-status p {
  margin-top: 10px;
  font-size: var(--font-size-extra-large);
  color: var(--color-text-dark);
}